<!-- <header class="mb-4">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="text-center navbar-brand" href="<%= root_path %>">
        <img class="nav-img" src="<%= ENV['LOGO_URL'] || image_path('logo.svg') %>">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top-navbar" aria-controls="top-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="top-navbar">
        <ul id="menu" class="navbar-nav mr-auto">
          <%= top_nav_link(t('header.market'), trading_path(current_market.id), 'exchange-alt', target: '_blank') if current_user %>
          <%= top_nav_link(t('header.funds'), funds_path, 'money-bill-wave', controllers: ['funds']) if current_user %>
          <%= top_nav_link(t('header.history'), order_history_path, 'book', controllers: ['history']) if current_user %>
        </ul>
        <ul class="navbar-nav ml-auto">
          <%= render partial: 'shared/header_profile_setting' if current_user %>
          <%= render partial: 'shared/header_lang_sel' %>
        </ul>
      </div>
    </div>
  </nav>
</header> -->

<header>
  <div class="container-full-width">
    <div class="crypt-header">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-5">
          <div class="row">
            <div class="col-xs-2">
              <div class="crypt-logo"><%= image_tag 'logo.jpg' %></div>
            </div>
            <div class="col-xs-2">
              <div class="crypt-mega-dropdown-menu"> <a href="" class="crypt-mega-dropdown-toggle">BTC/ETH <i class="pe-7s-angle-down-circle"></i></a>
                <div class="crypt-mega-dropdown-menu-block">
                  <div class="crypt-market-status">
                    <div>
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Coin</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Volume</th>
                                        <th scope="col">Change</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">BTC</th>
                                        <td class="crypt-down">0.000056</td>
                                        <td>5.3424984</td>
                                        <td class="crypt-down"><b>-5.4%</b></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">LTC</th>
                                        <td>0.0000564</td>
                                        <td>6.6768876</td>
                                        <td>-6.7%</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">ETH</th>
                                        <td>0.0000234</td>
                                        <td>4.3456600</td>
                                        <td class="crypt-down">-5.6%</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">XMR</th>
                                        <td>0.0000567</td>
                                        <td>4.3456600</td>
                                        <td>-5.6%</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">DOGE</th>
                                        <td class="crypt-up">0.0000234</td>
                                        <td>4.3456600</td>
                                        <td class="crypt-up">-9.6%</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">XMR</th>
                                        <td>0.0000567</td>
                                        <td>4.3456600</td>
                                        <td>-5.6%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th scope="col">Coin</th>
                                <th scope="col">Price</th>
                                <th scope="col">Volume</th>
                                <th scope="col">Change</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">BTC</th>
                                <td class="crypt-down">0.000056</td>
                                <td>5.3424984</td>
                                <td class="crypt-down"><b>-5.4%</b></td>
                              </tr>
                              <tr>
                                <th scope="row">LTC</th>
                                <td>0.0000564</td>
                                <td>6.6768876</td>
                                <td>-6.7%</td>
                              </tr>
                              <tr>
                                <th scope="row">DOGE</th>
                                <td class="crypt-up">0.0000234</td>
                                <td>4.3456600</td>
                                <td class="crypt-up">-9.6%</td>
                              </tr>
                              <tr>
                                <th scope="row">XMR</th>
                                <td>0.0000567</td>
                                <td>4.3456600</td>
                                <td>-5.6%</td>
                              </tr>
                              <tr>
                                <th scope="row">DOGE</th>
                                <td class="crypt-up">0.0000234</td>
                                <td>4.3456600</td>
                                <td class="crypt-up">-9.6%</td>
                              </tr>
                              <tr>
                                <th scope="row">XMR</th>
                                <td>0.0000567</td>
                                <td>4.3456600</td>
                                <td>-5.6%</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div role="tabpanel" class="tab-pane">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th scope="col">Coin</th>
                                <th scope="col">Price</th>
                                <th scope="col">Volume</th>
                                <th scope="col">Change</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">BTC</th>
                                <td class="crypt-down">0.000056</td>
                                <td>5.3424984</td>
                                <td class="crypt-down"><b>-5.4%</b></td>
                              </tr>
                              <tr>
                                <th scope="row">DOGE</th>
                                <td class="crypt-up">0.0000234</td>
                                <td>4.3456600</td>
                                <td class="crypt-up">-9.6%</td>
                              </tr>
                              <tr>
                                <th scope="row">XMR</th>
                                <td>0.0000567</td>
                                <td>4.3456600</td>
                                <td>-5.6%</td>
                              </tr>
                              <tr>
                                <th scope="row">DOGE</th>
                                <td class="crypt-up">0.0000234</td>
                                <td>4.3456600</td>
                                <td class="crypt-up">-9.6%</td>
                              </tr>
                              <tr>
                                <th scope="row">XMR</th>
                                <td>0.0000567</td>
                                <td>4.3456600</td>
                                <td>-5.6%</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 d-none d-md-block d-lg-block">
          <ul class="crypt-heading-menu fright">
            <li><a href="/trading/<%= current_market.id %>">Exchange</a></li>
            <li><a href="/overview">Overview</a></li>
            <li><a href="/marketcap">Market Cap</a></li>
            <li><a href="/simple-trading/<%= current_market.id %>">Trading</a></li>
            <% if current_user %>
              <li><a href="/funds">Account</a></li>
              <li class="crypt-box-menu menu-red"><a href="/signout">logout</a></li>
            <% else %>
              <li class="crypt-box-menu menu-red"><a href="/accounts/sign_up">register</a></li>
              <li class="crypt-box-menu menu-green"><a href="/accounts/sign_in">login</a></li>
            <% end %>
          </ul>
        </div><i class="menu-toggle pe-7s-menu d-xs-block d-sm-block d-md-none d-sm-none"></i>
      </div>
    </div>
  </div>
  <div class="crypt-mobile-menu">
    <ul class="crypt-heading-menu">
      <li class="active"><a href="/trading/<%= current_market.id %>">Exchange</a></li>
      <li><a href="/marketcap">Market Cap</a></li>
      <li><a href="#">Treanding</a></li>
      <li><a href="#">Tools</a></li>
      <% if current_user %>
        <li class="crypt-box-menu menu-red"><a href="/signout">logout</a></li>
      <% else %>
        <li class="crypt-box-menu menu-red"><a href="/accounts/sign_up">register</a></li>
        <li class="crypt-box-menu menu-green"><a href="/accounts/sign_in">login</a></li>
      <% end %>
    </ul>
    <div class="crypt-gross-market-cap">
      <h5>$34.795.90 <span class="crypt-up pl-2">+3.435 %</span></h5>
      <h6>0.7925.90 BTC <span class="crypt-down pl-2">+7.435 %</span></h6>
    </div>
  </div>
</header>