<!DOCTYPE html>
<html lang="en" ng-app="funds">
  <head>
    <%= render 'shared/meta' %>
    <%= render 'shared/sentry' %>
    <%= csrf_meta_tags %>

    <link href="/favicon.ico" rel="shortcut icon" />
    <% stylesheet = content_for?(:stylesheet) ? yield(:stylesheet) : 'application' %>
    <%= stylesheet_link_tag stylesheet, media: 'all' %>
    <%= custom_stylesheet_link_tag_for :main %>

    <%= include_gon %>
    <%= javascript_include_tag "locales/#{I18n.locale}" %>
    <%= javascript_include_tag 'funds' %>
    <%= yield(:scripts) if content_for?(:scripts) %>
  </head>

  <body id="<%= body_id %>" data-lang="<%= "#{locale_name}" %>" class="crypt-dark">

    <div id="wrap">
      <%- if content_for?(:header) %>
        <%= yield(:header) %>
      <%- else %>
        <%= render 'shared/header' %>
      <%- end %>

      <%= render 'shared/side_menu' %>

      <div class="container-full-width">
        <div class="row sm-gutters">
          <div class="col-xl-2 d-none d-xl-block">  
          </div>
          <%= yield %>
        </div>
      </div>
      <div id="push"></div>
    </div>

  </body>
</html>

