<div class="row">
    <div class="col-12 col-left">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        <%= t('.amount') %>
                    </th>
                    <th scope="col">
                        <%= t('.volume') %>
                    </th>
                    <th scope="col">
                        <%= t('.bid') %>
                    </th>
                    <% if @data[:current_member] %>
                    <th scope="col">
                      <%= t('.action') %>
                    </th>
                    <% end %>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col-12">
        <table class="table table-head table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        <%= t('.ask') %>
                    </th>
                    <th scope="col">
                        <%= t('.volume') %>
                    </th>
                    <th scope="col">
                        <%= t('.amount') %>
                    </th>
                    <% if @data[:current_member] %>
                    <th scope="col">
                      <%= t('.action') %>
                    </th>
                    <% end %>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12 col-left">
        <table class="table table-hover bids"></table>
    </div>
    <div class="col-12">
        <table class="table table-hover asks"></table>
    </div>
</div>