<tr data-order="<%= index %>" data-order-id="<%= id %>" data-price="<%= price %>" data-volume="<%= volume %>" class="<%= classes %>">
  <td class="amount" scope="col">
    <%= formatter.amount(volume, price) %>
  </td>
  <td class="volume" scope="col">
    <%= formatter.mask_fixed_volume(volume) %>
  </td>
  <td class="price text-up" scope="col">
    <%= formatter.mask_fixed_price(price) %>
  </td>
  <td class="text-up" scope="col">
    Offer
  </td>
</tr>
