<!-- Main Content -->
<div class="container">
	<div class="row sm-gutters">
		<div class="col-md-6 col-lg-4 col-xl-3">
			<div class="crypt-fulldiv-linechart mt-4">
				<h4 class="coinname">
					<%= image_tag 'coins/btc.png', width: '20', class: 'crypt-market-cap-logo' %>
					Bitcoin
				</h4>
				<div
	      			class ="crypt-individual-marketcap"
	      			data-charts ="[65,59,81,81,56,55,40,80,90]" 
	      			data-bg = "fdddb7"
	      			data-border = "f8a036">
		      		<canvas></canvas>
		      	</div>
		      	<div class="coin-meta-data text-center">
		      		<h5 class="crypt-down">
		      			-9.05% 
		      			<%= image_tag 'download-arrow.svg', width: '15', class: 'crypt-market-cap-logo' %>
		      		</h5>
		      		<h4>$4,056,894.05</h4>
		      		<p><b>MARKET CAP</b></p>
		      	</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 col-xl-3">
			<div class="crypt-fulldiv-linechart mt-4">
				<h4 class="coinname">
					<%= image_tag 'coins/eth.png', width: '20', class: 'crypt-market-cap-logo' %>
					Ethrium
				</h4>
				<div
	      			class ="crypt-individual-marketcap"
	      			data-charts ="[65,59,81,81,56,55,40,80,90]" 
	      			data-bg = "bfe9cf"
	      			data-border = "49c279">
		      		<canvas></canvas>
		      	</div>
		      	<div class="coin-meta-data text-center">
		      		<h5 class="crypt-up">
		      			+4.25% 
		      			<%= image_tag 'up-arrow.svg', width: '15', class: 'crypt-market-cap-logo' %>
		      		</h5>
		      		<h4>$4,056,894.05</h4>
		      		<p><b>MARKET CAP</b></p>
		      	</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 col-xl-3">
			<div class="crypt-fulldiv-linechart mt-4">
				<h4 class="coinname">
					<%= image_tag 'coins/xrp.png', width: '20', class: 'crypt-market-cap-logo' %>
					XRP
				</h4>
				<div
	      			class ="crypt-individual-marketcap"
	      			data-charts ="[55,69,41,61,56,54,44,50,60]" 
	      			data-bg = "c7c0ea"
	      			data-border = "b2a8e2">
		      		<canvas></canvas>
		      	</div>
		      	<div class="coin-meta-data text-center">
		      		<h5 class="crypt-up">
		      			+2.25% 
		      			<%= image_tag 'up-arrow.svg', width: '15', class: 'crypt-market-cap-logo' %>
		      		</h5>
		      		<h4>$4,056,894.05</h4>
		      		<p><b>MARKET CAP</b></p>
		      	</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 col-xl-3">
			<div class="crypt-fulldiv-linechart mt-4">
				<h4 class="coinname">
					<%= image_tag 'coins/btcc.png', width: '20', class: 'crypt-market-cap-logo' %>
					BTCC
				</h4>
				<div
	      			class ="crypt-individual-marketcap"
	      			data-charts ="[15,49,41,61,76,84,44,60,78]" 
	      			data-bg = "fcc6bf"
	      			data-border = "fa9f93">
		      		<canvas></canvas>
		      	</div>
		      	<div class="coin-meta-data text-center">
		      		<h5 class="crypt-red">
		      			-4.05% 
		      			<%= image_tag 'download-arrow.svg', width: '15', class: 'crypt-market-cap-logo' %>
		      		</h5>
		      		<h4>$4,056,894.05</h4>
		      		<p><b>MARKET CAP</b></p>
		      	</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 col-xl-3">
			<div class="crypt-fulldiv-linechart mt-4">
				<h4 class="coinname">
					<%= image_tag 'coins/ltc.png', width: '20', class: 'crypt-market-cap-logo' %>
					LTC
				</h4>
				<div
	      			class ="crypt-individual-marketcap"
	      			data-charts ="[45,37,41,41,66,54,44,60,78]" 
	      			data-bg = "b8eefd"
	      			data-border = "94e4fb">
		      		<canvas></canvas>
		      	</div>
		      	<div class="coin-meta-data text-center">
		      		<h5 class="crypt-down">
		      			-12.05% 
		      			<%= image_tag 'download-arrow.svg', width: '15', class: 'crypt-market-cap-logo' %>
		      		</h5>
		      		<h4>$4,056,894.05</h4>
		      		<p><b>MARKET CAP</b></p>
		      	</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 col-xl-3">
			<div class="crypt-fulldiv-linechart mt-4">
				<h4 class="coinname">
					<%= image_tag 'coins/tether.png', width: '20', class: 'crypt-market-cap-logo' %>
					Tether
				</h4>
				<div
	      			class ="crypt-individual-marketcap"
	      			data-charts ="[55,47,41,66,79,54,23,60,78]" 
	      			data-bg = "fdc0de"
	      			data-border = "fcb2d7">
		      		<canvas></canvas>
		      	</div>
		      	<div class="coin-meta-data text-center">
		      		<h5 class="crypt-up">
		      			+6.67% 
		      			<%= image_tag 'up-arrow.svg', width: '15', class: 'crypt-market-cap-logo' %>
		      		</h5>
		      		<h4>$4,056,894.05</h4>
		      		<p><b>MARKET CAP</b></p>
		      	</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 col-xl-3">
			<div class="crypt-fulldiv-linechart mt-4">
				<h4 class="coinname">
					<%= image_tag 'coins/monero.png', width: '20', class: 'crypt-market-cap-logo' %>
					Monero
				</h4>
				<div
	      			class ="crypt-individual-marketcap"
	      			data-charts ="[45,37,41,41,66,54,44,60,78]" 
	      			data-bg = "dca875"
	      			data-border = "dca875">
		      		<canvas></canvas>
		      	</div>
		      	<div class="coin-meta-data text-center">
		      		<h5 class="crypt-down">
		      			-3.45% 
		      			<%= image_tag 'download-arrow.svg', width: '15', class: 'crypt-market-cap-logo' %>
		      		</h5>
		      		<h4>$4,056,894.05</h4>
		      		<p><b>MARKET CAP</b></p>
		      	</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 col-xl-3">
			<div class="crypt-fulldiv-linechart mt-4">
				<h4 class="coinname">
					<%= image_tag 'coins/tron.png', width: '20', class: 'crypt-market-cap-logo' %>
					Tron
				</h4>
				<div
	      			class ="crypt-individual-marketcap"
	      			data-charts ="[65,59,81,81,56,55,40,80,90]" 
	      			data-bg = "bfe9cf"
	      			data-border = "49c279">
		      		<canvas></canvas>
		      	</div>
		      	<div class="coin-meta-data text-center">
		      		<h5 class="crypt-green">
		      			+8.05% 
		      			<%= image_tag 'up-arrow.svg', width: '15', class: 'crypt-market-cap-logo' %>
		      		</h5>
		      		<h4>$4,056,894.05</h4>
		      		<p><b>MARKET CAP</b></p>
		      	</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 col-xl-3">
			<div class="crypt-fulldiv-linechart mt-4">
				<h4 class="coinname">
					<%= image_tag 'coins/neo.png', width: '20', class: 'crypt-market-cap-logo' %>
					NEO
				</h4>
				<div
	      			class ="crypt-individual-marketcap"
	      			data-charts ="[65,59,81,81,56,55,40,80,90]" 
	      			data-bg = "fdddb7"
	      			data-border = "f8a036">
		      		<canvas></canvas>
		      	</div>
		      	<div class="coin-meta-data text-center">
		      		<h5 class="crypt-down">
		      			-9.05% 
		      			<%= image_tag 'download-arrow.svg', width: '15', class: 'crypt-market-cap-logo' %>
		      		</h5>
		      		<h4>$4,056,894.05</h4>
		      		<p><b>MARKET CAP</b></p>
		      	</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 col-xl-3">
			<div class="crypt-fulldiv-linechart mt-4">
				<h4 class="coinname">
					<%= image_tag 'coins/ethc.png', width: '20', class: 'crypt-market-cap-logo' %>
					ETH CLassic
				</h4>
				<div
	      			class ="crypt-individual-marketcap"
	      			data-charts ="[65,59,81,81,56,55,40,80,90]" 
	      			data-bg = "bfe9cf"
	      			data-border = "49c279">
		      		<canvas></canvas>
		      	</div>
		      	<div class="coin-meta-data text-center">
		      		<h5 class="crypt-up">
		      			+4.25% 
		      			<%= image_tag 'up-arrow.svg', width: '15', class: 'crypt-market-cap-logo' %>
		      		</h5>
		      		<h4>$4,056,894.05</h4>
		      		<p><b>MARKET CAP</b></p>
		      	</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 col-xl-3">
			<div class="crypt-fulldiv-linechart mt-4">
				<h4 class="coinname">
					<%= image_tag 'coins/zc.png', width: '20', class: 'crypt-market-cap-logo' %>
					Zcash
				</h4>
				<div
	      			class ="crypt-individual-marketcap"
	      			data-charts ="[55,69,41,61,56,54,44,50,60]" 
	      			data-bg = "c7c0ea"
	      			data-border = "b2a8e2">
		      		<canvas></canvas>
		      	</div>
		      	<div class="coin-meta-data text-center">
		      		<h5 class="crypt-up">
		      			+2.25% 
		      			<%= image_tag 'up-arrow.svg', width: '15', class: 'crypt-market-cap-logo' %>
		      		</h5>
		      		<h4>$4,056,894.05</h4>
		      		<p><b>MARKET CAP</b></p>
		      	</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 col-xl-3">
			<div class="crypt-fulldiv-linechart mt-4">
				<h4 class="coinname">
					<%= image_tag 'coins/nem.png', width: '20', class: 'crypt-market-cap-logo' %>
					NEM
				</h4>
				<div
	      			class ="crypt-individual-marketcap"
	      			data-charts ="[15,49,41,61,76,84,44,60,78]" 
	      			data-bg = "fcc6bf"
	      			data-border = "fa9f93">
		      		<canvas></canvas>
		      	</div>
		      	<div class="coin-meta-data text-center">
		      		<h5 class="crypt-red">
		      			-4.05% 
		      			<%= image_tag 'download-arrow.svg', width: '15', class: 'crypt-market-cap-logo' %>
		      		</h5>
		      		<h4>$4,056,894.05</h4>
		      		<p><b>MARKET CAP</b></p>
		      	</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 col-xl-3">
			<div class="crypt-fulldiv-linechart mt-4">
				<h4 class="coinname">
					<%= image_tag 'coins/cardano.png', width: '20', class: 'crypt-market-cap-logo' %>
					Cardano
				</h4>
				<div
	      			class ="crypt-individual-marketcap"
	      			data-charts ="[45,37,41,41,66,54,44,60,78]" 
	      			data-bg = "b8eefd"
	      			data-border = "94e4fb">
		      		<canvas></canvas>
		      	</div>
		      	<div class="coin-meta-data text-center">
		      		<h5 class="crypt-down">
		      			-12.05% 
		      			<%= image_tag 'download-arrow.svg', width: '15', class: 'crypt-market-cap-logo' %>
		      		</h5>
		      		<h4>$4,056,894.05</h4>
		      		<p><b>MARKET CAP</b></p>
		      	</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 col-xl-3">
			<div class="crypt-fulldiv-linechart mt-4">
				<h4 class="coinname">
					<%= image_tag 'coins/doge.png', width: '20', class: 'crypt-market-cap-logo' %>
					Doge
				</h4>
				<div
	      			class ="crypt-individual-marketcap"
	      			data-charts ="[55,47,41,66,79,54,23,60,78]" 
	      			data-bg = "fdc0de"
	      			data-border = "fcb2d7">
		      		<canvas></canvas>
		      	</div>
		      	<div class="coin-meta-data text-center">
		      		<h5 class="crypt-up">
		      			+6.67% 
		      			<%= image_tag 'up-arrow.svg', width: '15', class: 'crypt-market-cap-logo' %>
		      		</h5>
		      		<h4>$4,056,894.05</h4>
		      		<p><b>MARKET CAP</b></p>
		      	</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 col-xl-3">
			<div class="crypt-fulldiv-linechart mt-4">
				<h4 class="coinname">
					<%= image_tag 'coins/zil.png', width: '20', class: 'crypt-market-cap-logo' %>
					Ziliqua
				</h4>
				<div
	      			class ="crypt-individual-marketcap"
	      			data-charts ="[45,37,41,41,66,54,44,60,78]" 
	      			data-bg = "dca875"
	      			data-border = "dca875">
		      		<canvas></canvas>
		      	</div>
		      	<div class="coin-meta-data text-center">
		      		<h5 class="crypt-down">
		      			-3.45% 
		      			<%= image_tag 'download-arrow.svg', width: '15', class: 'crypt-market-cap-logo' %>
		      		</h5>
		      		<h4>$4,056,894.05</h4>
		      		<p><b>MARKET CAP</b></p>
		      	</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 col-xl-3">
			<div class="crypt-fulldiv-linechart mt-4">
				<h4 class="coinname">
					<%= image_tag 'coins/bite.png', width: '20', class: 'crypt-market-cap-logo' %>
					Bitecoin
				</h4>
				<div
	      			class ="crypt-individual-marketcap"
	      			data-charts ="[65,59,81,81,56,55,40,80,90]" 
	      			data-bg = "bfe9cf"
	      			data-border = "49c279">
		      		<canvas></canvas>
		      	</div>
		      	<div class="coin-meta-data text-center">
		      		<h5 class="crypt-green">
		      			+8.05% 
		      			<%= image_tag 'up-arrow.svg', width: '15', class: 'crypt-market-cap-logo' %>
		      		</h5>
		      		<h4>$4,056,894.05</h4>
		      		<p><b>MARKET CAP</b></p>
		      	</div>
			</div>
		</div>
	</div>
</div>